<mat-toolbar>
  <span>My Application</span>
</mat-toolbar>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }} V13!
  </h1>
  {{ message | async | json }}
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<button (click)="login()">Login</button>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Nota
      </mat-panel-title>
      <mat-panel-description>
        Agregar o editar una nota
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="Título" [(ngModel)]="note.title">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Categoría" [(ngModel)]="note.category">
        <mat-option value="personal">
          Personal
        </mat-option>
        <mat-option value="trabajo">
          Trabajo
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Textarea" [(ngModel)]="note.content"></textarea>
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="saveNote()">Guardar Nota</button>
  </mat-expansion-panel>
  <mat-list>
    <mat-list-item *ngFor="let note of notes" (click)="selectNote(note)">
      <h3 matLine> {{note.title}} </h3>
      <p matLine>
        <span> {{note.content}} </span>
      </p>
      <p matLine>
        <small> {{note.category}} - {{note.id | date}} </small>
      </p>
    </mat-list-item>
  </mat-list>
</mat-accordion>

